<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Flask Blog Login</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
        <p>Enter Username
        {{ form.username }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
        </p>
        <p>Enter Password
        {{ form.password }}
        <br>
        </p>
        <p> {{ form.remember_me }} Remember Me </p>
        <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}


