<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
	<table>
      <tr valign="top">
          <td><img src="{{ user.avatar(128) }}"></td>
          <td>
            <h1>User: {{ user.nickname }}</h1>
            <p>
              {% if user.id == g.user.id %}
                  <a href="{{ url_for('edit') }}">Edit</a>
              {% elif not g.user.is_following(user) %}
                  <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
              {% else %}
                  <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
              {% endif %}
            </p>
          </td>
      </tr>
  	</table>
	<hr>
	{% for post in posts %}
    {% include 'post.html' %}
	{% endfor %}
{% endblock %}